{% extends './layout.html' %} {% block content %}
<form action='/employees' method='POST'>
    <div class="form-group">
        <label>Employee Name</label>
        <div>
            <input class="form-control" name='firstName' placeholder="Enter firstname" value="{{employee.firstName}}"/>
        </div>
        <div>
            <input class="form-control" name='lastName' placeholder="Enter lastname" value="{{employee.lastName}}"/>
        </div>
        <div>
            <input class="form-control" name='nickName' placeholder="Enter nickname" value="{{employee.nickName}}"/>
        </div>
        <div></div>
    <div>
        <button class="btn btn-primary">Create Employee</button>
    </div>
</form>
<ul class="list-group">
    {% for employee in employees %}
    <li class="list-group-item">
        <a href='/employees/{{employee.id}}'>
            {{ employee.fullName }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}